<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% load static %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<title>Login & Registration </title>
</head>
<body>
	<div class="container-fluid">
		<h1>Login and Registration Page </h1>
		<div class="row">
					<div class="col" style="background-color:lavender;">
						<h2>Registration </h2>
								{% if messages %}
							<ul class="messages">    
	    						{% for message in messages %}    
	       						 <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
	   							 {% endfor %}
							</ul>
								{% endif %}
							<form action="/register" method="POST" class="form-example">
								{% csrf_token %}
								<div class="form-example">
									<label for="name">First Name: </label>
									<input type="text" name="first_name" id="name" required>
								</div>
								<div class="form-example">
									<label for="name">Last Name: </label>
									<input type="text" name="last_name" id="name" required>
								</div>
								<div class="form-example">
									<label for="name">Birthday: </label>
									<input type="date" name="bday" id="name" required>
								</div>
								<div class="form-example">
									<label for="email">Enter your email: </label>
									<input type="text" name="email" id="email" required>
								</div>
								<div class="form-example">
									<label for="name">Password: </label>
									<input type="text" name="password" id="name" required>
								</div>
								<div class="form-example">
									<label for="name">Confirm Password: </label>
									<input type="text" name="confirm_password" id="name" required>
								</div>
								<div class="form-example">
									<input type="submit" value="Submit">
								</div>
							</form>
					</div>
					
						<div class="col" style="background-color:lavender;">
							<h2>Login </h2>
								<form action="/user_login" method="POST" class="form-example">
									{% csrf_token %}
									<div class="form-example">
										<label for="email">Enter your email: </label>
										<input type="text" name="email" id="email" required>
									</div>
									<div class="form-example">
										<label for="name">Password: </label>
										<input type="text" name="password" id="name" required>
									</div>
									<div class="form-example">
										<input type="submit" value="Login">
									</div>
								</form>
						</div>
					</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script> -->
</body>
</html>